
:root.theme-light {
  --background-image: url("../images/cover-image-light.png");
  --header-title-color: #ffc2e6;
  --accent-color: #353430;
  --accent-color-hover: rgb(50, 49, 45, 0.6);
  --rec-color: transparent;
  --background-color: #ffeef6;
  --subtitle-text-color: #353430;
  --text-color: #353430;
  --text-decor: #ff8dcb;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
    --header-title-color: #ffc2e6;
    --accent-color: #353430;
    --accent-color-hover: rgb(50, 49, 45, 0.6);
    --rec-color: transparent;
    --background-color: #ffeef6;
    --subtitle-text-color: #353430;
    --text-color: #353430;
    --text-decor: #ff8dcb;
  }
}
