/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
@import "variables.css"; 

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--background-image);
  background-color: #000028;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font), serif;
  font-size: 18px;
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  padding: 10px;
}

.header__decoration {
  color: var(--rec-color);
  position: absolute;
  top: 10px;
  right: 19px;
  pointer-events: none;
  font-size: 18px;
  line-height: 25px;
}


.header__decoration::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--rec-color);
  box-shadow: 0px 0px 4px 2px var(--rec-color);
  margin: 9px 0 2px 10px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 20px; 
  height: 20px;
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.header__theme-menu {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--accent-color);
  align-self: center;
  justify-self: right;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item .header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  text-align: center;
  align-self: center;
  justify-self: center;
  padding: 1.5px 13px;
}

.header__theme-menu-item .header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-item .header__theme-menu-button:focus-visible {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.header__theme-menu-item .header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color-hover);
}

.header__theme-menu-item .header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__title {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--text-decor);
  align-self: center;
  justify-self: start;
}

.header__subtitle {
  font-size: 18px;
  color: var(--subtitle-text-color);
  background-color: var(--text-decor);
  font-weight: 700;
  line-height: 23px;
  padding: 0;
  align-self: center;
  justify-self: start;
}

.content {
  background-color: var(--background-color);
  display: grid;
  gap: 40px;
  padding: 40px 10px;
}

.main__title {
  color: var(--accent-color);
  font-weight: 700;
}

.main__subtitle {
  color: var(--subtitle-text-color);
  background-color: var(--text-decor);
  font-weight: 700;
  margin: 20px 0 10px 0;
}
.main__text {
  color: var(--main-text-color);
  font-weight: 400;
}

.link__decor {
  text-decoration: none;
}

.link__decor:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: var(--main-text-color);
}

.link__decor:focus {
  outline: none;
}

.link__decor:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.text__decorated {
  text-shadow: 2px 1px 0 var(--text-decor);
}

.subtitle__decorated {
  font-weight: 400;
}

.gallery {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 10px;
}

.gallery img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.footer {
  height: 100vh;
  min-height: 668px;
  display: grid;
  position: relative;
  background-color: var(--background-color);
}

.footer__title {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--text-decor);
  align-self: center;
  justify-self: center;
}

@media (width >= 768px) {

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__decoration {
    margin: 10px 10px;
  }

  .header {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 20px 20px 0;
  }

  .header__theme-menu,
  .header__title {
    grid-column: 1 / -1;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__subtitle {
    grid-column: 2;
    grid-row: 3;
    justify-self: end;
  }

  .content {
    padding: 40px 20px;
    gap: 60px;
  }

  .main__title {
    padding: 20px 0 0 0;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery img { 
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 100%;
    object-fit: cover;
  }

  /*Пейзаж на закате*/
  .gallery img:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  /*Десерт*/
  .gallery img:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  /*Кассета*/
  .gallery img:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  /*Стопка книг*/
  .gallery img:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  /*Улица*/
  .gallery img:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .intro {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .intro:nth-child(1) {
    grid-column: 1;
  }

  .intro:nth-child(2) {
    grid-column: 2;
  }

  .factors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, mincontent(), 1fr);
    gap: 20px;
  }

  .factors .factors__title:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .factors .factors__content:nth-child(2) {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  .factors .factors__content:nth-child(3) {
    grid-column: 1 / -1;
    grid-row: 3;
  }

  .factors .factors__content:nth-child(4) {
    grid-column: 1 / -1;
    grid-row: 4;
  }
  .tips {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .tips:nth-child(1) {
    grid-column: 1;
  }

  .tips:nth-child(2) {
    grid-column: 2;
  }
}

@media (width >= 1024px) {

  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .factors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, mincontent(), 1fr);
    gap: 20px;
  }

  .factors .factors__title:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .factors .factors__content:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }

  .factors .factors__content:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }

  .factors .factors__content:nth-child(4) {
    grid-column: 3;
    grid-row: 2;
  }
}