
:root {
  --main-font: 'IBM Plex Mono';
  --background-image: url("../images/cover-image-dark.png");
  --background-image: url("../images/cover-image-dark.png");
  --header-title-color: #db00ff;
  --accent-color: #ff0070;
  --accent-color-hover: rgba(255, 0, 112, 0.6);
  --rec-color: #ff0070;
  --background-color: #000028;
  --subtitle-text-color: #000028;
  --text-color: #f1b2cE;
  --text-decor: #ff0070;
  --text-size: 18px;
  --h2-size: 18px;
  --h2-color: var(--accent-color);
  --h3-size: 18px;
  --h3-color: var(--subtitle-text-color);
}


